<div class="card" style="width: 30rem; text-align: center">
<div class="row">
  <div class="col-md-12" style="padding: 40px">
    <h5 class="card-title">Bon retour <b>BOOND<b style="color:chocolate">MANAGER</b></b><img src="\assets\Boondmanager-hi.png" style="width: 100px;" > </h5>
      <hr><br>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="Adresse mail">
      </div>
      <div class="form-group">
        <input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          class="form-control"
          id="password"
          placeholder="Mot de passe">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <a [routerLink]="['/home']" class="btn btn-danger">Cancel</a>
    </form>
    <br><hr>
    <p>
      <span>Nouveau sur <b>BOOND<b style="color:chocolate">MANAGER</b></b> ?</span>
      <a [routerLink]="['/Logup']">S'inscrire</a>
    </p>
  </div>
</div>
</div>
<!-- <div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Bon retour</h4>
        </div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Mot de passe oublié ?</a>
        </div>
      </div>

      <div style="padding-top:30px" class="panel-body">

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form id="loginform" class="form-horizontal" role="form">

          <div style="margin-bottom: 25px" class="input-group">
            <input type="email" class="form-control" id="login-Email" placeholder="Adresse mail" name="login-Email" [(ngModel)]="User.mail">
          </div>
          

          <div style="margin-bottom: 25px" class="input-group">
            <input type="password" class="form-control" id="login-password" placeholder="Mot de passe" name="login-password" [(ngModel)]="User.password">
          </div>



          <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
              </label>
            </div>
          </div>


          <div style="margin-top:10px" class="form-group">
             
            
            
            
            <Button>

            <div class="col-sm-12 controls">
              <a id="btn-login" href="#" class="btn btn-success">S'identifier </a>
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                Nouveau sur BoondManager!
                <a href="Logup">
                  S'inscrire
                </a>
              </div>
            </div>
          </div>
        </form>



      </div>
    </div>
  </div> -->