<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white">
  <button type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <b class="navbar-brand">BOOND<b style="color:chocolate">MANAGER</b></b>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: flex-end">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="padding-right: 5px" href="#">? Aide</a>



      <div class="dropdown" style="padding-right: 5px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: white">
          <img src="https://img.icons8.com/material-sharp/24/000000/circled-menu.png">Apps
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li class="divider"></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>


      <img src="https://img.icons8.com/color/24/000000/fox.png" style="padding-right: 60px">

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"style="background-color: white">
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li class="divider"></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>