<div class="bg-light border-right" id="sidebar-wrapper">

  <div class="list-group list-group-flush">
    <a routerLink="/home" class="list-group-item list-group-item-action bg-light" id="admin-menu-item"></a>
    <a routerLink="/calendar" class="list-group-item list-group-item-action bg-light"
      id="admin-calendar-item"></a>
    <a routerLink="/frais" class="list-group-item list-group-item-action bg-light" id="admin-money-item"></a>
    <a routerLink="/absences" class="list-group-item list-group-item-action bg-light"
      id="admin-outtime-item"></a>
    <a routerLink="/projets" class="list-group-item list-group-item-action bg-light"
      id="admin-project-item"></a>
  </div>
</div>