<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white">
      <button type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <b class="navbar-brand">BOOND<b style="color:chocolate">MANAGER</b></b>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: flex-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style="padding-right: 5px" href="#">? Aide</a>


        
        <div class="dropdown" style="padding-right: 5px"> 
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              <img src="https://img.icons8.com/material-sharp/24/000000/circled-menu.png">Apps
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li class="divider"></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>


        <img src="https://img.icons8.com/color/24/000000/fox.png" style="padding-right: 20px">
        
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li class="divider"></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>

      </div>
    </div>
  </nav>

  <div class="container-fluid"> 
    <div class="row">
        <div class="col" style="align-items:center ;background-color:White; border-right: 5px solid chocolate"> 
            <img src="https://img.icons8.com/plasticine/50/000000/about.png">
        </div>
        <div class="col-11" style="background-color:WhiteSmoke">
          <nav class="navbar navbar-expand-lg navbar-light">
            <h5>Tableau de bord</h5>
          </nav>
        </div>
      </div>
  </div>



<div>
  <div class="sidenav">
      <a href="#about"><img src="https://img.icons8.com/small/50/000000/calendar.png"></a>
      <a href="#services"><img src="https://img.icons8.com/wired/50/000000/money.png"></a>
      <a href="#clients"><img src="https://img.icons8.com/material-outlined/60/000000/calendar.png"></a>
      <a href="#contact"><img src="https://img.icons8.com/wired/50/000000/brief.png"></a>
    </div>
    
    <div class="main">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col"></div>
                <div class="col-11">
                <h2 style="color: blue">Bienvenue sur BoondManager</h2>
            </div>
            </div>
            <div class="row">
                <div class="col" style="align-items:center ;background-color:White; border-right: 5px solid WhiteSmoke"> 
                    <img src="./assets/dessin-renard-png-5.png" style="width: 100px; height: 300px;">
                </div>
                <div class="col-10">
                    <p>This sidebar is of full height (100%) and always shown.</p>
                    <p>Scroll down the page to see the result.</p>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
                </div>
            </div>
          </div>
      </div>
      
  </div>



  </div>



    
  






<router-outlet></router-outlet>