
<div class="card" style="width: 30rem; text-align: center">
   
  <div class="row" style="padding: 40px">
    <div class="col-md-12">
      <h5 class="card-title">Créer votre compte <b>BOOND<b style="color:chocolate">MANAGER</b></b><img src="\assets\Boondmanager-hi.png" style="width: 100px;" > </h5>
      <hr><br>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <input
          [(ngModel)]="user.name"
          name="name"
          type="text"
          required
          class="form-control"
          id="name"
          placeholder="Entrer votre nom complet">
        </div>
        <div class="form-group">
          <input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="Entrer votre Email">
        </div>
        <div class="form-group">
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="Entrer un mot de passe">
            <small id="emailHelp" class="form-text text-muted text-left">Vous pouvez utiliser des lettres, des chiffres et des points</small>

          </div>
          <div class="form-group">
            <input
              [(ngModel)]="user.password1"
              name="password1"
              type="password"
              required
              class="form-control"
              id="password1"
              placeholder="Confirmer votre mot de passe">  
            </div>
        <button type="submit" class="btn btn-success">S'inscrire</button>
        <a [routerLink]="['/home']" class="btn btn-danger">Annuler</a>
      </form>
      <br><hr>
      <p>
        <a [routerLink]="['/Login']">Se connecter à un compte existant!</a>
      </p>
    </div>
  </div>

</div>
  <!-- <div class="card-body">
    <h5 class="card-title">Créer votre compte BoondManager</h5>
  </div>

  <form style="padding: 20px;"> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputLastname" placeholder="Prénom" name="Lastname"
        [(ngModel)]="Lastname">
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputFirstname" placeholder="Nom" name="Firstname"
        [(ngModel)]="Firstname">
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" [(ngModel)]="Email">
        <small id="emailHelp" class="form-text text-muted">Vous pouvez utiliser des lettres, des chiffres et des points</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" name="Password"
          [(ngModel)]="Password">
          <small id="PasswordHelp" class="form-text text-muted">Utilisez au moins huit caractère avec des lettres, des chiffres et des symboles</small>

      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputPassword1" placeholder="Confirmer" name="Password1"
          [(ngModel)]="Password1">
      </div>
    </div>


    <div class="form-row" style=" padding-top:20px">
 
          
        <div class="form-group col-md-5 control">
              <a href="Login">
                Se connecter à un compte existant
              </a>
            
          </div>
      <div class="form-group col-sm-7">
        <button type="submit" class="btn btn-success ">S'inscrire</button>
      </div>
   
    </div>
  </form> -->

